<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>align items (row)</h1>
  <p>position of items row</p>
  
  <style>
    .container {
      border: 1px solid;
      height: 100px;
    }

    .flex {
      display: flex;
    }

    .flex-row {
      flex-direction: row;
    }
    
    .items-stretch {
      align-items: stretch;
    }

    .items-start {
      align-items: flex-start;
    }

    .items-center {
      align-items: center;
    }

    .items-end {
      align-items: flex-end;
    }

    .item {
      background-color: #ddd;
      padding: 0.5rem;
    }
  </style>

  <h3>align items: stretch (default)</h3>

  <div class="container flex flex-row items-stretch">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>align items: flex start</h3>

  <div class="container flex flex-row items-start">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>
  
  <h3>align items: center</h3>

  <div class="container flex flex-row items-center">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>align items: flex-end</h3>

  <div class="container flex flex-row items-end">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>
  
</body>
</html>