<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>flex grow</h1>
  <p>
    It increase item size
  </p>

  <style>
    .container {
      border: 1px solid;
    }
    
    .flex {
      display: flex;
    }

    .item {
      background-color: #ddd;
      padding: 0.5rem;
    }
    
    .grow-0 {
      /* default */
      flex-grow: 0;
    }

    .grow {
      background-color: #0cf;
      flex-grow: 1;
    }
  </style>

  <div class="container flex">
    <div class="item grow-0">item</div>
    <div class="item grow">item</div>
    <div class="item grow-0">item</div>
  </div>
  
</body>
</html>