<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>flex order</h1>
  <p>
    item order
  </p>

  <style> 
    .container {
      border: 1px solid;
    }
    
    .flex {
      display: flex;
    }
    
    .item {
      background-color: #ddd;
      padding: 0.5rem;
    }

    .order-none {
      /* default */
      order: 0;
    }

    .order-1 {
      order: 1
    }

    .order-2 {
      order: 2
    }

    .order-3 {
      order: 3
    }
  </style>


  <div class="container flex">
    <div class="item order-2">item 1</div>
    <div class="item order-3">item 2</div>
    <div class="item order-none">item 3</div>
    <div class="item order-1">item 4</div>
  </div>
  
</body>
</html>