<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>flex shrink</h1>
  <p>
    It decreases size of item 
  </p>

  <style>
    .container {
      border: 1px solid;
      width: 400px;
    }
    
    .flex {
      display: flex;
    }

    .item {
      background-color: #ddd;
      padding: 0.5rem;
      width: 200px;
    }

    .shrink {
      /* default */
      flex-shrink: 1;
    }

    .shrink-0 {
      background-color: #f00;
      flex-shrink: 0;
    }
  </style>

  <div class="container flex">
    <div class="item shrink">item</div>
    <div class="item shrink-0">item</div>
    <div class="item shrink">item</div>
  </div>
  
</body>
</html>