<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>flex basis</h1>
  <p>size of item</p>
  
  <!-- 
    row direction: width 
    column direction: height 
    default is auto.
  -->

  <style>
    .container {
      border: 1px solid;
    }
    
    .flex {
      display: flex;
    }
    
    .flex-row {
      flex-direction: row;
    }
    
    .flex-col {
      flex-direction: column;
    }

    .item {
      background-color: #ddd;
      padding: 0.5rem;
      flex-basis: 100px;
    }
  </style>

  <h3>flex direction: row</h3>

  <div class="container flex flex-row">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>flex direction: column</h3>

  <div class="container flex flex-col">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>
  
</body>
</html>