<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flex</title>
  <style>
    a { color: #000 }
  </style>
</head>
<body>

  <h1>flex</h1>
  <p>
    It could make diverse layout using flex container and flex items
  </p>
  
  <style>
    .container {
      border: 1px solid;
    }

    /* flex container */
    .flex {
      display: flex;
    }
    
    /* flex item */
    .item {
      padding: 0.5rem;
      background-color: #ddd;
    }
  </style>

  <div class="container flex">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>


  <h3>flex container</h3>
  <ul>
    <li>
      <a href="./flex-direction.html">flex direction</a>
    </li>
    <li>
      <a href="./flex-wrap.html">flex wrap</a>
    </li>
    <li>
      <a href="./justify-content.html">justify content (row)</a>
    </li>
    <li>
      <a href="./justify-content(col).html">justify content (col)</a>
    </li>
    <li>
      <a href="./align-items.html">align items (row)</a>
    </li>
    <li>
      <a href="./align-items(col).html">align items (col)</a>
    </li>
  </ul>

  <h3>flex item</h3>

  <ul>
    <li>
      <a href="./flex-basis.html">flex basis</a>
    </li>
    <li>
      <a href="./flex-grow.html">flex grow</a>
    </li>
    <li>
      <a href="./flex-shrink.html">flex shrink</a>
    </li>
    <li>
      <a href="./flex-order.html">flex order</a>
    </li>
  </ul>

</body>
</html>