<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>justify content (row)</h1>
  <p>
    handle arranging items
  </p>
  
  <style>
    .container {
      border: 1px solid;
    }
    
    .flex {
      display: flex;
    }
    
    .flex-row {
      flex-direction: row;
    }
    
    .justify-start {
      justify-content: flex-start;
    }
    
    .justify-center {
      justify-content: center;
    }
    
    .justify-between {
      justify-content: space-between
    }
    
    .justify-end {
      justify-content: flex-end;
    }

    .item {
      background-color: #ddd;
      padding: 0.5rem;
    }
  </style>

  <h3>justify content: flex-start (default)</h3>

  <div class="container flex flex-row justify-start">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>justify content: center</h3>

  <div class="container flex flex-row justify-center">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>
  
  <h3>justify content: space-between</h3>

  <div class="container flex flex-row justify-between">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>justify content: flex-end</h3>

  <div class="container flex flex-row justify-end">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>
  
</body>
</html>