<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <main>
    <h1>Heading</h1>

    <section>
      <h2>Section</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus vitae laborum odio placeat corporis minima, quisquam dolorum repellat illo modi impedit id asperiores maxime! Nemo ratione quam incidunt eos libero.
      </p>
    </section>
    <section>
      <h2>Section</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus vitae laborum odio placeat corporis minima, quisquam dolorum repellat illo modi impedit id asperiores maxime! Nemo ratione quam incidunt eos libero.
      </p>
    </section>
    <section>
      <h2>Section</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus vitae laborum odio placeat corporis minima, quisquam dolorum repellat illo modi impedit id asperiores maxime! Nemo ratione quam incidunt eos libero.
      </p>
    </section>
  </main>

  
</body>
</html>