<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>grid span</h1>

  <!-- 
    1. grid-column-start: span + column count to span
  -->

  <style>
    .container {
      border: 1px solid;
    }
    
    .grid {
      display: grid;
    }

    .grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .gap-2 {
      gap: 0.5rem;
    }
    
    .item {
      padding: 0.5rem;
      background-color: #ddd;
    }
    
    .col-span-2 {
      grid-column-start: span 2;
    }
  </style>

  <div class="container grid gap-2 grid-cols-3">
    <div class="item">item 1</div>
    <div class="item">item 2</div>
    <div class="item">item 3</div>
    <div class="item col-span-2">item 4</div>
    <div class="item">item 5</div>
    <div class="item">item 6</div>
    <div class="item col-span-2">item 7</div>
  </div>

</body>

</html>