<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>grid</title>
  <style>
    a { color: #000 }
  </style>
</head>
<body>

  <h1>grid</h1>
  <p>It could make diverse layout using grid items and item span</p>

  <!-- 
    1 grid basic
    2 grid span
  -->

  <ul>
    <li>
      <a href="./grid-template-columns.html">grid basic</a>
    </li>
    <li>
      <a href="./grid-column-span.html">grid span</a>
    </li>
  </ul>
  
</body>
</html>